# Dependencies
node_modules/
npm-debug.log*

# Environment files
.env
.env.local
.env.production
.env.local.docker

# Database data folder
data/
*.db
*.db-journal
*.db-wal

# Keys & Certificates
*.key
*.pem

# OS files
.DS_Store
Thumbs.db
